{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Story 9</a>
      </div>
  
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a>Hello! {{request.user.username}}</a></li>
        <li><a href="/admin/logout/?next=/">LOG OUT</a></li>
      </ul>
      </div>
      {% else %}
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/login/?next=/">LOG IN</a></li>
          <li><a href="/register">REGISTER</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </nav>
  {% block content %}
  {% endblock content %}
</body>

</html>
