{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9 PPW</title>
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }
  </style>
{% endblock meta %}

{% block content %}


<input id="caridata" placeholder="Masukkan Data">
<table id="daftarisi"></table>

<script type="text/javascript">
  $("#caridata").keyup(function(){
    var isi = $("#caridata").val();
    console.log(isi);
    $.ajax({
      url: '/data?q=' + isi,
      success: function(data){
        var array = data.items;
        console.log(array);
        $("#daftarisi").empty();
        for(i=0; i<array.length; i++){
          var namabuku = array[i].volumeInfo.title;
          var gambarbuku = array[i].volumeInfo.imageLinks.smallThumbnail;
          $("#daftarisi").append("<tr><th>" + namabuku + "<td><img src=" + gambarbuku + "></td></tr>");
        }
      }
    });
  });
</script>

{% endblock content %}
