{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9 PPW</title>
{% endblock meta %}

{% block content %}
<form method = "POST" class="formReg"> 
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit"> 
</form>
{% endblock content %}
